<!DOCTYPE html>
<html>
<head>
	<title>Connect</title>
	<!-- CSS and JavaScript references -->
	<link rel="stylesheet" type="text/css" href="../CSS/header.css">
	<link rel="stylesheet" type="text/css" href="../CSS/profile.css">
	<script src="../javascript/header.js"></script>
	<script src="../javascript/profile.js"></script>
	<!-- Ending of CSS and JavaScrit -->
</head>
<body  onload="showSlides(1);">
    {{{body}}}
</body>
</html>